-if(flashMessages.info)
	each message in flashMessages.info
		.alert._info._shadow._box
			span.-close ×
			strong :)				
			| #{message}

-if(flashMessages.warn)
	each message in flashMessages.warn
		.alert._warning._shadow._box
			span.-close ×
			strong :(				
			| #{message}

-if(flashMessages.error)
	each message in flashMessages.error
		.alert._danger._shadow._box
			span.-close ×
			strong :(				
			| #{message}

-if(flashMessages.success)
	each message in flashMessages.success
		.alert._success._shadow._box
			span.-close ×
			strong :)				
			| #{message}