extends layout

block scripts
  script(src="/javascripts/allowPhones.js")
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')


block content
  .jumbo._danger
    i#stop-sign.fas.fa-ban
    h3 View Restriction
    h5 To use this app, you must be viewing from a mobile device.
    p On a desktop, in the Chrome browser right-click and go to 'inspect'. From here you can set the page to mobile view
    a(href="https://developers.google.com/web/tools/chrome-devtools/device-mode/") See Google Docs for more help

  include _flashAlerts