extends layout

block scripts
	script(src="/javascripts/passwordObfuscator.js")
	script(src="/javascripts/loginAutoFill.js")
	script(src="/javascripts/index.js")

block content
	.jumbo._dark.top-spacer-1px
		h3.primary Welcome to #{title}
		h5.secondary An app to keep parents and girlfriends in shape.
		- if(!user)
			h6.info-text Click the nav menu to login/register
	
	include _flashAlerts
	
	blockquote
		| #{quote.text}
	footer
		| #{quote.author}