extends layout

block content
    .jumbo._dark
        h3 Welcome to #{title}
        p An app to keep parents and girlfriends in shape.
        p 

    blockquote
        | #{quote.text}
    footer
        | #{quote.author}