extends layout

block content
    .jumbo._dark.top-spacer-1px
        h3.primary Welcome to #{title}
        h5.secondary An app to keep parents and girlfriends in shape.
        p 
    
    blockquote
        | #{quote.text}
    footer
        | #{quote.author}

    button.accordion._box._shadow._dark.top-spacer-20px Login
    .-panel
        form._alignCenter
            label Username
            input(type="text", name="username")
            label Password
            input(type="text", name="password")
    
    button.accordion._box._shadow._dark New user? Register here
    .-panel
        form._alignCenter
            label Username
            input(type="text", name="username")
            label Password
            input(type="text", name="password")
            label Confirm Password
            input(type="text", name="password")
    
    button.accordion._box._shadow._dark(type="button")  Users
    .-panel
      a.button.to-block(href="/workout/dad") List Dad's Workouts
      a.button.to-block(href="/workout/mum") List Mum's Workouts
      a.button.to-block(href="/workouk/emma") List Pufflet's Workouts
      a.button.to-block(href="/workout/rick") List Rick's Workouts
      a.button.to-block(href="/workout/test") List test Workouts

