extends layout

block content
    .jumbo._dark
        h3.primary Welcome to #{title}
        h5.secondary An app to keep parents and girlfriends in shape.
        p 

    blockquote
        | #{quote.text}
    footer
        | #{quote.author}