extends layout

block scripts

block content
    .information.container
        .card
            kbp.bold Project: Captain JEH / Barbie Doll

        .card
            p.bold Objective 1: Determine daily energy requirements

            .sub-text
                p Bodyweight: 187lbs
                p Height: 5’ 10”
                p Estimated body fat: 20%

                p Presuming 3 days of exercise per week:
                
                .sub-text
                    p Maintenance: 2,845kcal/day

                    p Weight loss: 2,345kcal/day minimum (500kcal deficit)
            
                mark To adjust energy requirements, go to
                    br
                    a(href="https://tdeecalculator.net/") tdeecalculator.net

        .card
            p.bold Objective 2: Download ‘My Fitness Pal’ from the Google Play Store

            p Track all foods for 90 days.

            p Macronutrient guidelines: 30% protein, 35% fats, 35% carbs

            .sub-text
                p Carbohydrate: 150g
                p Protein: 170g
                p Fat: 110g

            mark Aim to be within 20% of guidelines. Because life happens.

        .card
            p.bold Objective 3: Clean up diet

            p For 90 days:

            .sub-text
                p No sugar. Base 80% of diet on protein, fat and vegetables.
                p No junk food.
                p No caffeine after 3pm 
                    mark (unless driving/flying).
                p No more than 8 units of alcohol per week (3 small glasses of wine).

                hr
                p Increase protein/fat intake:
            
                .sub-text
                    p Eggs, cheese, milk
                    p butter, coconut oil
                    p Nuts
                    p Seeds
                    p Fish, meat
                    p Avocado

                hr
                p Decrease carbohydrate intake:

                .sub-text
                    p Fruit (not including berries)
                    p Bread
                    p Cereals
                    p Potatoes

        .card
            p.bold Objective 4: Begin strength-focused exercise program

            .sub-text
                p 
                    mark Weeks 1-2: 
                    p 3 sets of 5 reps per exercise, 2 minutes rest
                hr
                p 
                    mark Weeks 3-4: 
                    p 4 sets of 5 reps per exercise, 2 minutes rest
                hr
                p 
                    mark Weeks 4-6: 
                    p 5 sets of 5 reps per exercise, 2 minutes rest

        table._full-width
            thead
                tr
                    th Day
                    th Exercise 1
                    th Exercise 2
                    th Exercise 3
            tbody
                tr
                    td Day A
                    td Squats
                    td Deadlifts
                    td Ab Crunches
                tr
                    td Day B
                    td Military Press
                    td Lateral Pull Downs
                    td Leg Raises
                tr
                    td Day C
                    td Narrow Squats
                    td Bench Press
                    td Upright Row