doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel="shortcut icon", href="/favicon.png", type="image/x-icon")
    link(rel='stylesheet' href='/stylesheets/beauter0.3.0.min.css')
    script(src='/javascripts/beauter0.3.0.min.js')
    script(src='/javascripts/jQuery3.3.1.js')
    script(src="/javascripts/preventDesktops.js")
    script(src="/javascripts/navbar.js")

    block scripts

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    ul#myTopnav2.topnav
      li
        a.brand(href='/') Hypertrope
      - if (user)
        - if (user.username === 'mynameisdad')
          li
            a.link(href='/happy') ?
      li
        a.link(href='/workouts/new') New Workout
      li
        a.link(href=`/workouts/${user.username}`) Show Workouts
      li
        a.link(href='/information') Information
      li
        a.link(href='/logout') Logout
      - if (!user)
      li
        a.link(href='/login') Login
      li
        a.link(href='/register') Register
      li.dropdown
        a.link(href='#') About
        .dropdown-content
          a(href='https://github.com/rickhallett') Author
          a(href='https://github.com/rickhallett') Github
      li.-icon
        a(href='javascript:void(0);', onclick="topnav('myTopnav2')") ☰
